.footer {
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px 50px;
}

.column {width: 20%;}

#cr {color:rgb(200, 200, 200);}

.column p.fhead {margin-bottom: 10px; color:rgb(0, 185, 99);}

.column p.coninfo {margin-bottom: 5px; color:rgb(200, 200, 200);}

.flist {list-style: none;}

.flist li {margin-bottom: 5px;}

.flist a {text-decoration: none; color: rgb(200, 200, 200);}

.flist a:hover {text-decoration: underline;}

.fa-brands fa-facebook {color:rgb(0, 185, 99);}

#fb, #linked {color:rgb(200, 200, 200);}

#fb:hover, #linked:hover {color:rgb(0, 185, 99);}

@media screen and (max-width: 900px) {
    .column {width: 33%;}

    #extraCol {display: none;}
}