<!DOCTYPE html>
<html>
<head>
    <title>Black Mesa</title>
    <link rel="icon" type="image/x-icon" href="../images/bm_icon.png">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/footer.css">
    <script src="https://kit.fontawesome.com/8f9ed07ddd.js" crossorigin="anonymous"></script>

    <style>
        .meContainer {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .me {width: 50%; padding: 3.66vw 7.321vw;}

        .me img {width: 29.283vw; height: 36.603vw;}

        #about {color: rgb(200,200,200); font-size: 1.318vw;}

        .details {padding: 1.464vw; border: 2px solid rgb(200,200,200);}

        .details p, .details i {line-height: 1.8;}
    </style>
</head>

<body>
    <nav class="navigation">
        <div class="logo">
            <a href="index.htm"><img src="../images/bm_logo.png" alt="logo" /> Black Mesa</a>
        </div>
        <div class="toggle">
            <a href="#"><i class="fa-solid fa-user"></i></a>
            <a href="#"><i class="fa-solid fa-bars"></i></a>
        </div>
        <ul class="menu">
            <li><a href="index.htm">Home</a></li>
            <li><a href="news.htm">News</a></li>
            <li><a href="#">History</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="contact.htm">Contact</a></li>
        </ul>
        <div class="login">
            <a href="#"><i class="fa-solid fa-user"></i></a>
        </div>
    </nav >
    <nav class="menu2">
        <a href="index.htm">Home</a>
        <a href="news.htm">News</a>
        <a href="#">History</a>
        <a href="#">Careers</a>
        <a href="contact.htm">Contact</a>
    </nav>

    <div class="meContainer">
        <div class="me" id="about">
            <h1>Hi, I'm Cliff Abella!</h1><br>
            <p>I am a recent BSIT college graduate from Silliman University who is currently searching for a full-time career as a full stack web developer. As a person who enjoys personal coding projects and learning new technologies I believe that I possess the necessary skills, capabilities and attitude to perform just as good as other seasoned developers. I also enjoy video games and going to the firing range during my free time. Interested in helping me put food on the table? See my contact details below!</p><br>
            <div class="details">
                <p>Phone: 09294503182</p>
                <p>Email: cliffabella108@gmail.com</p>
                <p>Address: Dumaguete City, Negros Oriental</p>
                <i class="fa-brands fa-facebook" id="fb"></i>
                <i class="fa-brands fa-linkedin fa-lg" id="linked"></i>
            </div>
        </div>
        <div class="me" id="image">
            <img src="../images/contact/me.png" alt="me" />
        </div>
    </div>

    <hr>

    <div class="footer">
        <div class="column" id="cr">Copyright &copy; 2024 Black Mesa Corp.</div>
        <div class="column" id="extraCol"></div>
        <div class="column" id="extraCol"></div>
        <div class="column">
            <p class="fhead">INFORMATION</p>
            <ul class="flist">
                <li><a href="#">FAQ</a><li>
                <li><a href="#">Privacy Policy</a><li>
                <li><a href="#">Terms & Conditions</a><li>    
            </ul>
        </div>
        <div class="column">
            <p class="fhead">CONTACT US</p>
            <p class="coninfo">09294503182</p>
            <p class="coninfo">cliffabella108@gmail.com</p>
            <a href="https://www.facebook.com/CHACHAGOOGLE" target="_self"><i class="fa-brands fa-facebook" id="fb"></i></a>
            <a href="https://www.linkedin.com/in/cliff-abella-b52462305" target="_self"><i class="fa-brands fa-linkedin fa-lg" id="linked"></i></a>
        </div>
    </div>
</body>
</html>