<!DOCTYPE html>
<html>
<head>
    <title>Black Mesa</title>
    <link rel="icon" type="image/x-icon" href="../images/bm_icon.png">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/construction.css">
    <script src="https://kit.fontawesome.com/8f9ed07ddd.js" crossorigin="anonymous"></script>

    <style>
        
    </style>
</head>

<body>
    <nav class="navigation">
        <div class="logo">
            <a href="../index.htm"><img src="../images/bm_logo.png" alt="logo" /> Black Mesa</a>
        </div>
        <div class="toggle">
            <a href="#"><i class="fa-solid fa-user"></i></a>
            <a href="#"><i class="fa-solid fa-bars"></i></a>
        </div>
        <ul class="menu">
            <li><a href="../index.htm">Home</a></li>
            <li><a href="news.htm">News</a></li>
            <li><a href="history.htm">History</a></li>
            <li><a href="career.htm">Careers</a></li>
            <li><a href="contact.htm">Contact</a></li>
        </ul>
        <div class="login">
            <a href="#"><i class="fa-solid fa-user"></i></a>
        </div>
    </nav >
    <nav class="menu2">
        <a href="../index.htm">Home</a>
        <a href="news.htm">News</a>
        <a href="history.htm">History</a>
        <a href="career.htm">Careers</a>
        <a href="contact.htm">Contact</a>
    </nav>

    <div class="construction">
        <h1>PAGE UNDER CONSTRUCTION</h1><br>
        <img src="../images/construct.png" alt="me" />
    </div>

    <hr>

    <div class="footer">
        <div class="column" id="cr">Copyright &copy; 2024 Black Mesa Corp.</div>
        <div class="column" id="extraCol"></div>
        <div class="column" id="extraCol"></div>
        <div class="column">
            <p class="fhead">INFORMATION</p>
            <ul class="flist">
                <li><a href="#">FAQ</a><li>
                <li><a href="#">Privacy Policy</a><li>
                <li><a href="#">Terms & Conditions</a><li>    
            </ul>
        </div>
        <div class="column">
            <p class="fhead">CONTACT US</p>
            <p class="coninfo">09294503182</p>
            <p class="coninfo">cliffabella108@gmail.com</p>
            <a href="https://www.facebook.com/CHACHAGOOGLE" target="_self"><i class="fa-brands fa-facebook" id="fb"></i></a>
            <a href="https://www.linkedin.com/in/cliff-abella-b52462305" target="_self"><i class="fa-brands fa-linkedin fa-lg" id="linked"></i></a>
        </div>
    </div>
</body>
</html>