<!DOCTYPE html>
<html>
<head>
    <title>Black Mesa</title>
    <link rel="icon" type="image/x-icon" href="../images/bm_icon.png">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/construction.css">
    <script src="https://kit.fontawesome.com/8f9ed07ddd.js" crossorigin="anonymous"></script>

    <style>
        .projects {padding: 3vw 3vw;}

        .text {color: rgb(200,200,200); font-size: 1.4vw;}

        .text a {color: rgb(200,200,200); text-decoration: none;}

        .text a:hover {color: rgb(200,200,200); text-decoration: underline;}

        .screenshots {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;
            height: auto;
        }

        .ui {width: 50%;}

        .ui img {width: 100%; padding: 0.5vw;}
    </style>
</head>

<body>
    <nav class="navigation">
        <div class="logo">
            <a href="../index.htm"><img src="../images/bm_logo.png" alt="logo" /> Black Mesa</a>
        </div>
        <div class="toggle">
            <a href="#"><i class="fa-solid fa-user"></i></a>
            <a href="#"><i class="fa-solid fa-bars"></i></a>
        </div>
        <ul class="menu">
            <li><a href="../index.htm">Home</a></li>
            <li><a href="news.htm">News</a></li>
            <li><a href="portfolio.htm">Portfolio</a></li>
            <li><a href="career.htm">Careers</a></li>
            <li><a href="contact.htm">Contact</a></li>
        </ul>
        <div class="login">
            <a href="#"><i class="fa-solid fa-user"></i></a>
        </div>
    </nav >
    <nav class="menu2">
        <a href="../index.htm">Home</a>
        <a href="news.htm">News</a>
        <a href="portfolio.htm">Portfolio</a>
        <a href="career.htm">Careers</a>
        <a href="contact.htm">Contact</a>
    </nav>

    <div class="projects">
        <div>
            <div class="text">
                <h3>KensTrading Car Rental</h3><br>
                <p>May 2023</p>
                <p>Repository: <a href="https://github.com/Glock420/kenstrading" 
                target="_blank">https://github.com/Glock420/kenstrading</a></p>
            </div><br>
            <div class="screenshots">
                <div class="ui"><img src="../images/portfolio/kens1.png" alt="kensUI1" /></div>
                <div class="ui"><img src="../images/portfolio/kens2.png" alt="kensUI2" /></div>
            </div>
        </div>
        <br><hr><br>
        <div>
            <div class="text">
                <h3>University Marketshop</h3><br>
                <p>December 2023</p>
                <p>Repository: <a href="https://github.com/Glock420/universitymarketshop" 
                target="_blank">https://github.com/Glock420/universitymarketshop</a></p>
            </div><br>
            <div class="screenshots">
                <div class="ui"><img src="../images/portfolio/uni1.png" alt="uniUI1" /></div>
                <div class="ui"><img src="../images/portfolio/uni2.png" alt="uniUI2" /></div>
                <div class="ui"><img src="../images/portfolio/uni3.png" alt="uniUI3" /></div>
                <div class="ui"><img src="../images/portfolio/uni4.png" alt="uniUI4" /></div>
            </div>
        </div>
        <br><hr><br>
        <div>
            <div class="text">
                <h3>Miller Badlis Management System</h3><br>
                <p>May 2024</p>
                <p>Repository: N/A (Company Internal System)</p>
            </div><br>
            <div class="screenshots">
                <div class="ui"><img src="../images/portfolio/mllr1.png" alt="mllrUI1" /></div>
                <div class="ui"><img src="../images/portfolio/mllr2.png" alt="mllrUI2" /></div>
            </div>
        </div>
    </div>

    <hr>

    <div class="footer">
        <div class="column" id="cr">Copyright &copy; 2024 Black Mesa Corp.</div>
        <div class="column" id="extraCol"></div>
        <div class="column" id="extraCol"></div>
        <div class="column">
            <p class="fhead">INFORMATION</p>
            <ul class="flist">
                <li><a href="#">FAQ</a><li>
                <li><a href="#">Privacy Policy</a><li>
                <li><a href="#">Terms & Conditions</a><li>    
            </ul>
        </div>
        <div class="column">
            <p class="fhead">CONTACT US</p>
            <p class="coninfo">09294503182</p>
            <p class="coninfo">cliffabella108@gmail.com</p>
            <a href="https://www.facebook.com/CHACHAGOOGLE" target="_self"><i class="fa-brands fa-facebook" id="fb"></i></a>
            <a href="https://www.linkedin.com/in/cliff-abella-b52462305" target="_self"><i class="fa-brands fa-linkedin fa-lg" id="linked"></i></a>
        </div>
    </div>
</body>
</html>